<li class="nav-dropdown-container resources">
  <a href="#" class="nav-link">Recursos</a><span class="arrow"></span>
  <ul class="nav-dropdown">
    <li><a href="<%- url_for("/resources/partners.html") %>" class="nav-link">Parceiros</a></li>
    <li><a href="<%- url_for("/resources/themes.html") %>" class="nav-link">Temas</a></li>
    <li><a href="https://github.com/vuejs/awesome-vue" class="nav-link" target="_blank" rel="noopener">Lista Geral "Awesome Vue"</a></li>
    <li><a href="https://curated.vuejs.org/" class="nav-link" target="_blank" rel="noopener">Bibliotecas Recomendadas</a></li>
    <li><a href="https://empresas-usando-vuejs.netlify.com/" class="nav-link" target="_blank" rel="noopener">Empresas usando Vue no Brasil</a></li>
  </ul>
</li>
