<li class="nav-dropdown-container support-vue">
  <a href="/support-vuejs/" class="nav-link">Patrocine</a><span class="arrow"></span>
  <ul class="nav-dropdown">
<<<<<<< HEAD
    <li><ul>
      <li><a href="/support-vuejs/#Doacoes-Unicas" class="nav-link">Doações Únicas</a></li>
      <li><a href="/support-vuejs/#Ajuda-Recorrente" class="nav-link">Ajuda Recorrente</a></li>
      <li><a href="https://vue.threadless.com" target="_blank" rel="noopener" class="nav-link">Loja de Camisetas</a></li>
    </ul></li>
=======
    <li><a href="/support-vuejs/#One-time-Donations" class="nav-link">One-time Donations</a></li>
    <li><a href="/support-vuejs/#Recurring-Pledges" class="nav-link">Recurring Pledges</a></li>
    <li><a href="https://vue.threadless.com" target="_blank" rel="noopener" class="nav-link">T-Shirt Shop</a></li>
>>>>>>> 849a2f77bf5ab386beb4f1f77208f607bc89b5b5
  </ul>
</li>
